.titolo {    
    font-size: 50px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

}
main{
    height: 1000px;
    max-width: 100%;
    background-color: gray;
    margin: auto;
    padding: 30px;
    position: relative;
}
.contenitore1{
    width: 700px;
    height: 700px;
    background-color: white;
    

 
}

















